form.signup,
form.login {
  margin-top: 50px;
}

body { 
  background-color: white(228, 227, 253);
  text-align: center;
}


nav { 
  background-color: rgb(61, 166, 252);
  border-bottom: 2.5px solid rgba(248, 190, 82, 0.842);
  font-size: 24px;
  color: white;
  margin-bottom: 15px;
}

.btn-primary { 
  margin-top: 20px;
}

/* .btn-weight { 
  margin-top: 15px;
} */

#questionBox { 
  background-color: whitesmoke;
  width: 55%;
  height: 490px;
  margin: auto;
  border-radius: 5%;
  border: 2px solid rgb(255, 231, 187);
  color: black;
  font-size: 24px;
  font-family: 'Baloo Da 2', cursive;
  padding: 25px;
  text-align: left;
}



body{
  background-color: rgb(247, 197, 148);
}
.card{
  background-color: rgb(250, 220, 190);
}
.footer{
  color: rgb(61, 166, 252);;
  text-align: center;

}

h2{
  font-size: x-large;
}

p{
  font-size: large;
}